$colorWhite: #ffffff;
$colorBlack: #000000;
// $primaryLighter: #fafafa !default;
$primaryLighter: rgba(255, 255, 255, 1);
$primaryDarker: #efefef;
$colorContrast: #DD2A7C !default;
$colorAction: #3095F6;
$secondaryLighter: #dbdbdb !default;
$secondaryDarker: #969696 !default;



