$colorWhite: #ffffff;
$colorBlack: #000000;
$primaryLighter: #fafafa;
$primaryDarker: #efefef;
$colorContrast: #DD2A7C;
$colorAction: #3095F6;
$secondaryLighter: #dbdbdb;
$secondaryDarker: #969696;



