$color-white: #ffffff;
$color-black: #000000;
$color-primary: #fafafa;
$color-secondary: #efefef;
$color-user-img: #DD2A7C;
$color-img-border: #dbdbdb;
$color-action: #3095F6;
$color-show-more: #969696;



