/* IMAGE SQUARE */
.image-square {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    overflow: hidden;

    &.has-border {
        border: 1px solid $colorContrast;
    }

    &.is-active {
        border: 2px solid $colorContrast;

        img {
            border: 1px solid $colorWhite;
            border-radius: 100%;
        }
    }

    &--small {
    width: 32px;
    height: 32px;
    }

    &--tiny {
        width: 24px;
        height: 24px;
    }
}